@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300);
/* -------------------
	GLOBAL
--------------------*/
html{
	height: 100%;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color: #56350A;
}
/* ---------COMMON ----------*/
.center{
	text-align:center;
}
.action{
	transition:all 0.2s;
	font-size:1.3em;
	line-height: 1.6em;
	cursor:pointer;
}
.action-disabled .action,.action-disabled:hover .action {
	color:grey;
}
.action:hover{
	color:#E27E30;
}
.action .glyphicon {
	vertical-align: middle;
	font-size: 1.2em;
	line-height: 200%;
	top: -3px;
}
.app-dropdown{
	color: #E27E30;
	font-weight:normal;
	border-radius: 3px;
	background-color: #EFEADC;
}
.heading{
	color: #56350A;
	font-size: 56px;
	text-align: center;
	font-weight: 300;
}

.submit-button{
	width:auto;
	background: #E27E30;
	font-size: 3em;
	color: #EFEADC;
	font-weight: bold;
	padding: 2% 10%;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 2px 4px #444;
	margin-bottom: 30px;
}

a.button:hover{
	color : #EFEADC ;
}
hr.normal{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	border-top: 1px solid #56350A;
}

/* -------- input placeholder colors ---------- */
::-webkit-input-placeholder {
   color: #B1C12A;
}
:-moz-placeholder { /* Firefox 18- */
   color: #B1C12A;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #B1C12A;  
}
:-ms-input-placeholder {  
   color: #B1C12A;  
}
/* -------------------
	LOGIN PAGE
--------------------*/
.login-body{
	padding-top:5%;
	background : url( '../images/assets/background.jpg' );
	background-size: 100%;
}
.login-page-center-box{
	max-width: 800px;
	margin: auto;
	width: 80%;
}
.login-welcome{
	
}

.login-main-logo img{
	width : 80%;
}
.login-panel{
	margin:5% auto;
	background: white;
	border-radius: 5px;
	padding: 1%;
}

.login-panel div{
	margin: 3% 7%;
}
.login-panel hr, form hr{
	width:85%;
	margin:2% auto;
}
input,.login-panel select{
	width: 100%;
	border: none;
	font-size: 2.3em;
	line-height: 150%;
	font-weight: 300;
	padding:3%;
}
.login-panel .login-button{
	background: #E27E30;
	border-radius:1.5%;
}
.button,.login-button{
	background: #E27E30;
	font-size: 3em;
	color: #EFEADC;
	font-weight: bold;
	padding: 2% 10%;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 2px 4px #444;
	margin-bottom: 30px;
}
.login-remember{
	text-align: left;
	white-space: nowrap;
	margin:5% 0;
}
.login-remember input{
	width:30px;
	height: 30px;
	float:left;
}
.login-remember span{
	font-weight:300;
	margin-left:2%;
	color: #56350A;
	font-size:2em;
	text-align:left;
	line-height:120%;
}
/* .login-remember input::after{
	content: '';
	border: 3px solid #B1C12A;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: block;
}
 */
.login-form-group{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.note{
	font-size:1.5em;
}
.note a{
	color: #B1C12A;
}

@media (max-width: 724px) {
    .heading{
        font-size: 23px;
    }
    .login-panel input, .login-panel .password input,.login-button,.submit-button{
    	font-size: 1.2em;
    }
    .button,.login-panel,.login-button,.submit-button{
    	border-radius: 2px;
    	font-size: 1.2em;
    }
    .login-remember span{
    	font-size:1.3em;
    	line-height: 200%;
    }
    .note{
    	font-size:1.1em;
    }

}
/* -------------------
	app
--------------------*/

body.app{
	background : #EFEADC;
	padding-top:55px;
}
.app .navbar{
	/* position:relative; */
}

.container{
	width:100%;
	padding: 0;
}
.navbar-stocket{
	background-color: #B1C12A;
	border-color: #888;
}

.navbar-stocket .navbar-brand,.beige-logo{
	text-indent:5px;
	color: #EFEADC;
	font-size:2em;
	font-weight: bold;
}


.navbar-stocket .navbar-toggle {
	border-color: transparent;
}
.navbar-stocket .navbar-toggle .icon-bar {
	background-color: #EFEADC;
}

.navbar-stocket .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #E27E30; /*active*/
	background-color: inherit; 
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #E27E30; /*active*/
}
.navbar-inverse .navbar-nav>li>a {
	color: #EFEADC;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #E27E30;
}

.navbar-stocket .nav>li:after{
	border-top:1px dashed #E27E30;
	content:'';
	width:100%;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	margin-left: 3px;
	margin-right: 3px;
}
.nav-constant {
	width: auto;
	font-size: 2em;
	margin-top: -7px;
	padding: 0px 5px;
}

.navbar-collapse.collapsing, .navbar-collapse.collapse.in{
	clear:both;
}
.container-fluid{
	padding-left:0px; padding-right: 0px;
}

/*-------------------
Dashboard
-------------------*/
.app-dashboard{
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}
.app-dashboard li{
	/* height: 3.5em; */
	line-height: 3.5em;
	font-size: 1.2em;
	border-bottom: 1px solid #aaa;
	color : #56350A;
	clear:both;
}
.app-dashboard li .status{
	
	font-weight:bold;
	float: left;
}
.app-dashboard .extra-info{
	font-size:0.8em;
	text-align:center;
	line-height:1.8em;
}
.app-dashboard a{
	color: #56350A;
}
.app-dashboard a:hover{
	text-decoration: none;
}
.app-dashboard li:hover{
	background: beige;
}
.app-dashboard li .action{
	line-height: 3.5em;
}
.name{
	color:#E27E30
}
.app-dashboard li .name{
	white-space: nowrap;
	position: relative;
	float : left;
	margin:0 0.3em;
	max-width: 40%;
	overflow:hidden;
	text-overflow: ellipsis;
}
.app-dashboard li .count,.app-dashboard li .action, .app-dashboard li .date{
	float:right;
	/* margin:0 0.1em; */
}
.app-dashboard li .action{
	font-size:1em;
	margin-right:0.4em;
}
.count{
	border: 2px solid #B1C12A;
	width: 2em;
	height: 2em;
	line-height: 1.8em;
	border-radius: 50%;
	text-align: center;
	margin: 0.7em 0.3em 0;
	display: inline-block;
}
.right-side{
	float:right;
	width:35%;

}
.clear{
	clear:both;
}

/* -----------Take picture --------------*/
.camera-preview{
	max-width: 30%;
	max-height: 30%;
}
.storage-container{
	background: #B1C12A;
	position: absolute;
	bottom: 0;
	width: 100%;
}
input[type=file].picture-input{
	display:none;
}
.progress-radial {
	position: relative;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	/* border: 2px solid #2f3439; */
	background-color: tomato;
	margin: 7% auto;
}
.progress-radial .overlay {
	position: absolute;
	width: 180px;
	height: 180px;
	background-color: #B1C12A;
	border-radius: 50%;
	margin-left: 35px;
	margin-top: 35px;
	text-align: center;
	line-height: 180px;
	font-size: 50px;
	font-weight: 600;
}
.full-screen-overlay{
	position:fixed;
	top:0;
	left:0;
	background:#B1C12A;
	z-index:1040;
	width:100%;
	height:100%;
	display:none; 
}
.img-preview{
	max-height:150px;
	max-width: 50%;
	display: block;
	margin: 10px auto;
}

/* -----ADMIN FUNCTION LIST-------- */ 
.button-list{ /*<ul>*/
	padding-left:0;
	width: 80%;
	margin: 1.5em auto;
}
.button-list .button a{
	color: #EFEADC;
	font-weight: 300;
}

/* -----ADMIN IMAGE LIST-------- */ 
ul{
	list-style:none;
	padding-left:0;
}
.image-list{

}
.image-list>li{
	padding:10px;
	border-bottom: 1px solid #c3c3c3;
	clear:both;
}
.img-div{
	width:50%;
}
.right-panel{
	padding-left:10px;
	max-height:150px;
	width:50%;
	
}
.image-list .img-div img{
	max-height: 150px;
	max-width: 100%;

}
.small-btn{
	font-size: 2em;
	padding:1% 5%;
	border-radius:2px;
	margin:auto;
}


/* ------------ITEM LIST -------------- */
.item-list{
	margin: auto 8px;
}
.item-list li{
	margin:1px 0;
}
.item-list .category-title{
	background: #56350A;
	color : #EFEADC;
	line-height:200%;
	padding :0 8px;
	font-size:1.3em;
	border-radius: 2px;
}
.item-list .handle{
	float:right;
	cursor:pointer;
}
.item-list-items li{
	clear:both;
	border-bottom: 1px solid #56350A ;
	padding:2%;
}
.item-icon{
	float:left;
	width:20%;
	margin-right:10px;
}
.item-icon img{
	width: 100%;
	min-width : 100%;
	height: auto;
	border-radius:50%;
	border:5px solid #B1C12A;
}
.item-name-qty-block{
	float: left;
	width: 65%;
	text-overflow: ellipsis;
}
.item-name{
	color : #E27E30;
	font-size:1.5em;
	line-height: 150%;
	text-overflow: ellipsis;
}
.item-qty{
	font-size:1.5em;
}
.item-qty:before{
	content:'x ';
	font-size:90%;
}
.item-edit{
	font-size: 2em;
	float: right;
	color :#B1C12A;
	margin-top:15px;
}

.add-btn{
	display:block;
	border-radius:2px;
	width: 95%;
	margin: 8px auto;
	background : #B1C12A;
	color : #EFEADC ;
	border:none;
	line-height: 200%;
	font-weight:1.8em;
	font-weight:400;
}